.create_posts
{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-auto-flow: column;
    h1
    {
        margin: 0px;
        text-align: right;
        padding-top: 25px;
    }
    .text_area
    {
        display: grid;
        grid-template-columns: 5fr 1fr;
        grid-gap: 20px;

        input[type='text']
        {
           border: none;
           border-bottom: 1px solid aqua;
           background: #ffffff !important;
           font-size: 20px;
           font-family: 'Book Antiqua';
           height: 40px;
           padding-left: 10px;
           margin: 28px;
           width: 100%;
           outline: none;
        }
        input[type='button']
        {
          margin: 30px;
            height: 40px;
            width: 75%;
            background-color: white;
            color: red;
            font-size: 20px;
            border: none;
            outline: none;
            &:hover
            {
              color: white;
              background-color: red;
            }
        }
    }
}
.posts{
display: grid;
grid-template-columns: 1fr;
grid-gap: 10px;
}
