.app-wrapper {
  display: grid;
  grid-template-areas: 'h h' 'n c' 'f f';
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  max-width: 1000px;
  margin: 0 auto;
}
.app-wrapper-content {
  grid-area: c;
  padding-top: 70px;
  padding-left: 40px;
}
